.image {
  width: 350px;
  height: 250px;
}

.rocket {
  display: flex;
  margin: 20px;
  gap: 20px;
  padding: 10px 50px;
}

.rocket h2 {
  margin-bottom: 20px;
}

.description {
  line-height: 24px;
}

.reserved {
  background-color: #68c1d0;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.reserve-rocket {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

.cancel-reserve {
  background-color: #fff;
  border: 1px solid #cdd0d2;
  border-radius: 5px;
  padding: 10px;
  color: #373737;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin-top: 20px;
}
